{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Outlet Home</h1>

    <h2>Sale Orders</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Bill No</th>
                <th>GRN Number</th>
                <th>PO Number</th>
                <th>Vehicle No</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            {% for sale_order in sale_orders %}
                <tr>
                    <td>
                        <a href="{% url 'sale_order_detail' sale_order.bill_no %}">
                            {{ sale_order.bill_no }}
                        </a>
                    </td>
                    <td>{{ sale_order.grn_number }}</td>
                    <td>{{ sale_order.po_number }}</td>
                    <td>{{ sale_order.vehicle_no }}</td>
                    <td>{{ sale_order.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
