{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-color: #f8f8f8;
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 10px 20px;
    }

    .heading-section {
        text-align: left;
        color: #333;
        margin-top: 20px;
        margin-left: 20px;
        padding: 10px;
        font-size: 22px;
        font-weight: bold;
    }

    .container h1 {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
    }

    .search-bar {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .search-bar input {
        font-size: 14px;
        border: 1px solid #cccccc73;
        border-radius: 1px;
    }

    .table {
        width: 98%;
        margin: auto;
        margin-top: 10px;
        border-collapse: collapse;
    }

    .table th,
    .table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid rgb(254, 241, 213); /* Add bottom border with color */
    }

    .table th {
        padding: 8px;
        font-size: 16px;
        text-align: left;
        background-color: #f0f0f0;
        color: rgb(74, 81, 88);
    }

    .table tbody tr:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .table a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
    }
</style>

<div class="container">
    <h1 style="font-size: 32px;">Master List</h1>
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search...">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Unique ID</th>
                <th scope="col">Status</th>
                <th scope="col">Batch ID</th>
                <th scope="col">Added Date</th>
                <th scope="col">Received By</th>
            </tr>
        </thead>
        <tbody>
            {% for master in masters %}
            <tr>
                <td>{{ master.product.name }}</td>
                <td><a href="{% url 'view_product' master.uuid %}">{{ master.uuid }}</a></td>
                <td>{{ master.status }}</td>
                <td>{{ master.batch_id }}</td>
                <td>{{ master.added_date }}</td>
                <td>{{ master.received_by }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('searchInput');
        const table = document.querySelector('.table');
        const tbody = table.querySelector('tbody');

        // Function to filter the table rows based on search input
        function filterTable(searchValue) {
            const rows = Array.from(tbody.querySelectorAll('tr'));

            rows.forEach(row => {
                const rowData = Array.from(row.querySelectorAll('td')).map(cell => cell.textContent.toLowerCase());
                if (rowData.some(data => data.includes(searchValue.toLowerCase()))) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }

        // Event listener to trigger filtering when the user types in the search input
        searchInput.addEventListener('input', function () {
            filterTable(this.value);
        });
    });
</script>

{% endblock %}
