{% extends 'base.html' %}
{% block content %}
<center>
    <div class="warning">
        <p style="color: red;"> ** Data In this Page Will Be taken from existing Hari Om Database</p>
    </div>
</center>
<div class="container">
    <h1 class="heading-section">Product Index List</h1>
    <div class="table-wrap">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Quantity Requested</th>
                    <th>Quantity Received</th>
                    <th>Received By</th>
                    <th>Arrival Date</th>
                </tr>
            </thead>
            <tbody>
                {% for product_index in product_indexes %}
                <tr>
                    <td>{{ product_index.id }}</td>
                    <td>{{ product_index.product.name }}</td>
                    <td>{{ product_index.quantity_requested }}</td>
                    <td>{{ product_index.quantity_received }}</td>
                    <td>{{ product_index.received_by }}</td>
                    <td>{{ product_index.arrive_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}