{% extends 'base.html' %}

{% block content %}

<center>
    <h1>Products from Batch </h1>
    <p>{{ batch_id_info }}</p>
</center>
<div class="container">
    <p><h3>Product Details : </h3></p>
    <div class="container">
        <div class="row">
          <div class="col">Recived By : {{ Received_By }}</div>

          <div class="w-100"></div>
          <div class="col">Recived Date : {{ Received_Date }}</div>
          <div class="col"> {% for count_item in product_counts %}
            {{ count_item.status }}: {{ count_item.count }}<br>
            {% endfor %}</div>
        </div>
      </div>
    <div class="table-wrap">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Unique ID</th>
                    <th scope="col">Status</th>
                    <!-- <th scope="col">Batch ID</th> -->
                    <th scope="col">Added Date</th>
                    <th scope="col">Received By</th>
                </tr>
            </thead>
            <tbody>
                {% for master in products %}
                <tr>
                    <td>{{ master.product }}</td>
                    <td><a href="{% url 'view_product' master.uuid %}">{{ master.uuid }}</a></td>
                    <td>{{ master.status }}</td>
                    <!-- <td>{{ master.batch_id }}</td> -->
                    <td>{{ master.added_date }}</td>
                    <td>{{ master.received_by }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}