{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h3 class="mb-4">Product Details</h3>
    <div class="card" style="background-color: whitesmoke;">
        <div class="card-body" style="background-color: whitesmoke;">
            <h4 class="card-title">ID: {{ product.uuid }}</h4>
            <ul class="list-group list-group-flush" style="background-color: whitesmoke;">
                <li class="list-group-item">
                    <strong>Batch ID:</strong> {{ product.batch_id }}
                </li>
                <li class="list-group-item">
                    <strong>Product Name:</strong> {{ product.product.name }}
                </li>
                <li class="list-group-item">
                    <strong>Product ID:</strong> {{ product.product.product_id }}
                </li>
                <li class="list-group-item">
                    <strong>Supplier :</strong> {{ product.product.supplier_name }}
                </li>
                <li class="list-group-item">
                    <strong>Status:</strong> {{ product.status }}
                </li>
                <li class="list-group-item">
                    <strong>Added Date:</strong> {{ product.added_date }}
                </li>
                <li class="list-group-item">
                    <strong>Received By:</strong> {{ product.received_by }}
                </li>
                <li class="list-group-item">
                    <strong>Data JSON:</strong>
                    <ul class="list-unstyled">
                        {% for key, value in product.data_json.items %}
                        <li><strong>{{ key }}:</strong> {{ value }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
