{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Inquiry</h1>
    <form method="post" class="mb-4">
        {% csrf_token %}
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label for="query" class="sr-only">Search:</label>
                <input type="text" name="query" id="query" class="form-control"
                    placeholder="Search by ID, Batch ID, Product Name, Status, etc.">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <div id="inquiry-results">
        {% if search_results %}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Search Results</h2>
                <ul class="list-group list-group-flush">
                    {% for item in search_results %}
                    <li class="list-group-item">
                        <strong>ID:</strong> {{ item.uuid }}<br>
                        <strong>Batch ID:</strong> {{ item.batch_id }}<br>
                        <strong>Product Name:</strong> {{ item.product.name }}<br>
                        <strong>Status:</strong> {{ item.status }}<br>
                        <strong>Added Date:</strong> {{ item.added_date }}<br>
                        <strong>Received By:</strong> {{ item.received_by.username }}<br>
                        <strong>Data JSON:</strong>
                        <ul>
                            {% for key, value in item.data_json.items %}
                            <li><strong>{{ key }}:</strong>
                                {% if value is dict %}
                                <ul>
                                    {% for sub_key, sub_value in value.items %}
                                    <li><strong>{{ sub_key }}:</strong> {{ sub_value }}</li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                {{ value }}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul><br>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <center>
            <p>No matching items found.</p>
        </center>
        {% endif %}
    </div>
</div>
{% endblock %}