{% extends 'base.html' %}

{% block content %}
<h1>Products and Their Master Records</h1>
<p>COUNT : {{ masters_count }}</p>
<p>stats : {{ stats }}</p>
<h3>PRODUCT DETAILS</h3>
<p>Product Name : {{ product.name }}</p>
<p>product_id  : {{ product.product_id }}</p>
<p>supplier name : {{ product.supplier_name }}</p>
<p>description : {{ product.description }}</p>
<table>
<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Master UUID</th>
            <th>Status</th>
            <th>Added Date</th>
        </tr>
    </thead>
    <tbody>
        {% for master in masters %}
        <tr>
            <td>{{ master.product.name }}</td>
            <td><a href="{% url 'view_product' master.uuid %}">{{ master.uuid }}</a></td>
            <td>{{ master.status }}</td>
            <td>{{ master.added_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}