{% extends 'base.html' %}
{% block content %}
<style>
    .container {
        max-width: 90%;
        margin: 0 auto;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .actions {
        text-align: right;
        margin-bottom: 20px;
    }

    .action-link {
        margin-left: 10px;
        text-decoration: none;
        color: #007BFF;
        font-weight: bold;
    }

    .product-list {
        margin-top: 20px;
    }

    .product-list h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }

    /* Customize the table styles */
    .table {
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;
    }

    .table th,
    .table td {
        padding: 12px;
        text-align: left;
        border-top: 1px solid #ccc;
    }

    .table th {
        padding: 8px;
        font-size: 16px;
        text-align: left;
        background-color: #f0f0f0;
        color: rgb(74, 81, 88);
        border-bottom: 1px solid rgb(254, 241, 213);
        /* Add bottom border */
    }

    .table tbody tr:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .table a {
        text-decoration: none;
        color: #007BFF;
        font-weight: bold;
    }

    /* New table theme */
    .table-new {
        background-color: #fff;
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
    }

    .table-new th,
    .table-new td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .table-new th {
        padding: 8px;
        font-size: 16px;
        text-align: left;
        background-color: #f0f0f0;
        color: rgb(74, 81, 88);
        border-bottom: 1px solid rgb(254, 241, 213);
        /* Add bottom border */
    }

    .table-new tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    .table-new a {
        text-decoration: none;
        color: #007BFF;
        font-weight: bold;
    }
</style>

<div class="container">
    <h1>Management Home</h1>
    <div class="actions">
        <a href="{% url 'inquiry' %}" class="action-link">Inquiry</a>
        <a href="{% url 'logout' %}" class="action-link">Logout</a>
        <a href="{% url 'admin_only' %}" class="action-link">Admin Only</a>
    </div>

    <div class="product-list">
        <h2>Active Batch</h2>
        <table class="table-new">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Requested Quantity</th>
                    <th>Received Quantity</th>
                    <th>Batch ID</th>
                    <th>Status</th>
                    <th>Received By</th>
                    <th>Arrival Date</th>
                </tr>
            </thead>
            <tbody>
                {% for product_index in activated_product_index %}
                <tr>
                    <td>{{ product_index.id }}</td>
                    <td><a href="{% url 'product_batch' product_index.batch_id %}">{{ product_index.product.name }}</a>
                    </td>
                    <td>{{ product_index.quantity_requested }}</td>
                    <td>{{ product_index.quantity_received }}</td>
                    <td>{{ product_index.batch_id }}</td>
                    <td>{{ product_index.status }}</td>
                    <td>{{ product_index.received_by }}</td>
                    <td>{{ product_index.arrive_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="product-list">
        <h2>Deactive Batch</h2>
        <table class="table-new">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Requested Quantity</th>
                    <th>Received Quantity</th>
                    <th>Batch ID</th>
                    <th>Status</th>
                    <th>Received By</th>
                    <th>Arrival Date</th>
                </tr>
            </thead>
            <tbody>
                {% for product_index in deactive_product_index %}
                <tr>
                    <td>{{ product_index.id }}</td>
                    <td><a href="{% url 'product_batch' product_index.batch_id %}">{{ product_index.product.name }}</a>
                    </td>
                    <td>{{ product_index.quantity_requested }}</td>
                    <td>{{ product_index.quantity_received }}</td>
                    <td>{{ product_index.batch_id }}</td>
                    <td>{{ product_index.status }}</td>
                    <td>{{ product_index.received_by }}</td>
                    <td>{{ product_index.arrive_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}